.page-header--europe
  min-height: 400px
  background: url('images/europe/europe-bg.png') center no-repeat
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2)
    background: url('images/europe/europe-bg@2x.png') center no-repeat

.page-header.page-header--europe
  +respond-to(1439px)
    min-height: 280px

  +respond-to(1023px)
    min-height: 216px

  +respond-to(767px)
    min-height: 146px

.wrapper.wrapper--europe
  +respond-to(767px)
    padding-left: 0
    padding-right: 0

.section__title.section__title--europe
  &:before
    width: 16px
    background: url(images/europe/icon-plane-red.svg) center no-repeat

  +respond-to(767px)
    padding-bottom: 40px
    padding: 0 16px 40px 16px
    box-sizing: border-box

.section--europe-flights
  padding-bottom: 96px
  +respond-to(1023px)
    padding-bottom: 64px

  +respond-to(767px)
    padding-bottom: 32px

.section__sub-title.section__sub-title--europe
  padding-top: 0
  +respond-to(767px)
    padding: 0 16px
    box-sizing: border-box

.text-black
  color: #484A4d

.section__title--europe
  &:before
    background: url('images/offers/icon-plane-red') center no-repeat

.primary-text.primary-text--europe
  +respond-to(767px)
    padding-bottom: 0
    font-size: 14px
    padding: 0 16px 16px 16px
    box-sizing: border-box

.section__compare-table-container--europe
  width: 716px
  margin-left: 40px
  margin-bottom: 45px
  +respond-from(1920px)
    width: 1100px

  +respond-to(1439px)
    width: 536px

  +respond-to(1023px)
    width: 100%
    margin-bottom: 32px
    margin-left: 0
    padding-left: 29px
    box-sizing: border-box

  +respond-to(767px)
    width: 100%
    position: relative
    padding-left: 0
    overflow-x: scroll
    right: 0
    margin-bottom: 26px

  .column-head
    +respond-to(767px)
      font-size: 12px
      line-height: 16px

  .column-cell
    +respond-to(767px)
      font-size: 12px
      line-height: 16px
      height: 48px
      box-sizing: border-box

  .column--first
    width: 22%
    .column-head
      border-radius: 3px 0 0 0

    +respond-to(1439px)
      width: 25%

    +respond-to(767px)
      width: 36%

  .column--second
    width: 22%
    box-shadow: none
    +respond-to(1439px)
      width: 25%

    +respond-to(767px)
      width: 33%

    .column-head
      background: #f4fafc
      padding: 16px 24px
      border-radius: 3px 3px 0 0
      border-left: none
      text-transform: uppercase

    .column-cell
      font-size: 18px
      line-height: 24px
      color: #9198ad
      font-weight: 400
      border-bottom: 1px solid #d4edf6
      +respond-to(767px)
        font-size: 12px
        line-height: 16px

  .column--third
    width: 28%
    box-shadow: 0 10px 24px 0 rgba(15,71,77,0.12)
    +respond-to(1439px)
      width: 25%

    +respond-to(767px)
      width: 50%

    .column-head
      background: #53648c
      color: #ffffff
      padding-top: 29px
      padding-bottom: 27px
      border-radius: 3px 0 0 0
      border-left: none
      border-bottom: none
      text-transform: uppercase
      border-right: none
      +respond-to(767px)
        min-width: 120px

    .column-cell
      font-size: 18px
      line-height: 24px
      color: #4A5B83
      font-weight: 900
      border-bottom: 1px solid #d4edf6
      border-right: none
      +respond-to(767px)
        font-size: 14px

  .column--fourth
    width: 28%
    +respond-to(1439px)
      width: 25%

    +respond-to(767px)
      width: 50%

    .column-head
      background: #e14135
      color: #ffffff
      padding-top: 29px
      padding-bottom: 27px
      border-radius: 0 3px 0 0
      border-left: none
      text-transform: uppercase
      border-right: 1px solid #d8e9f2
      border-bottom: none
      +respond-to(767px)
        min-width: 120px

    .column-cell
      font-size: 18px
      line-height: 24px
      color: #fc6148
      font-weight: 900
      border-bottom: 1px solid #d4edf6
      +respond-to(767px)
        font-size: 14px

.table-img
  position: relative
  top: -1px
  margin-right: 8px

.img-table
  position: relative
  padding-left: 24px
  &:before
    content: ''
    position: absolute
    left: 0
    top: 1px
    width: 16px
    height: 16px
    background: url('images/europe/oval-star.svg') center no-repeat
    +respond-to(767px)
      top: -1px

.section__contact-container
  position: absolute
  display: inline-block
  box-shadow: 0 10px 24px 0 rgba(15,71,77,0.16)
  bottom: 143px
  right: 0
  +respond-to(1439px)
    bottom: 159px

  +respond-to(1023px)
    width: calc(100% - 29px)
    position: relative
    margin-bottom: 24px
    left: 29px
    right: auto
    bottom: 0

  +respond-to(767px)
    left: 0
    width: 100%

.search-form__title
  font-size: 28px
  line-height: 32px
  color: #fffaea
  font-weight: 700
  margin-bottom: 16px

.search-form__text
  font-size: 14px
  line-height: 24px
  color: #9198ad
  font-weight: 400
  margin-bottom: 24px

.search-form--europe
  width: 360px
  padding: 24px 24px 32px 24px
  padding-left: 24px
  padding-right: 24px
  background: url('images/europe/europe-form-bg.png') center no-repeat
  box-sizing: border-box
  border-radius: 3px 3px 0 0
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2)
    background: url('images/europe/europe-form-bg@2x.png') center no-repeat

  +respond-to(1023px)
    width: 100%
    background: url('images/europe/europe-form-bg-768.png') center no-repeat
    background-size: cover
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2)
      background: url('images/europe/europe-form-bg-768@2x.png') center no-repeat
      background-size: cover


  +respond-to(767px)
    padding: 24px 16px

  form
    flex-direction: column
    +respond-to(1023px)
      justify-content: space-between

  input
    padding: 30px 16px 16px 16px

  .search-form__wrapper,
  .popup__name-wrapper,
  .popup__phone-wrapper,
  .popup__email-wrapper
    width: 100%
    margin-bottom: 16px
    +respond-to(1023px)
      width: 49%
    +respond-to(767px)
      width: 100%

  .search-form__wrapper--round-trip,
  .search-form__wrapper--class,
  .search-form__wrapper--from,
  .search-form__wrapper--to
    width: 50%
    margin-bottom: 16px
    +respond-to(1023px)
      width: 49%

    +respond-to(767px)
      width: 50%

  .search-form__wrapper--round-trip,
  .search-form__wrapper--class,
  .search-form__wrapper--from,
  .search-form__wrapper--to
    +respond-to(1023px)
      width: 24.5%

    +respond-to(767px)
      width: 50%
      border-radius: 0

    input
      padding-right: 30px

  .search-form__wrapper--class,
  .search-form__wrapper--to
    +respond-to(1023px)
      margin-left: -13px

  .search-form__wrapper--sumbit
    margin-top: 24px

  .search-form__wrapper--date
    margin-bottom: 0

  .search-form__wrapper--sumbit
    margin-bottom: 0
    +respond-to(1023px)
      width: 100%

    .search-form__submit-btn
      height: 52px
      padding: 19px 0 17px 0
      border-radius: 30px
      font-size: 14px

  .search-form__wrapper--from,
  .search-form__wrapper--class,
  .search-form__wrapper--to,
  .search-form__wrapper--round-trip
    input
      +respond-to(767px)
        border-radius: 0

.search-form.search-form--europe
  input
    font-weight: 500

  input[value]
    font-weight: 600
    color: #2d3539

.section__europe-call
  width: 360px
  padding: 24px 24px 32px 24px
  box-sizing: border-box
  border-radius: 3px 3px 0 0
  background: #ffffff
  +respond-to(1023px)
    width: 100%
    text-align: center

  +respond-to(767px)
    padding: 16px 16px 24px 16px

.section__europe-call-text
  font-size: 16px
  line-height: 24px
  font-weight: 400
  margin-bottom: 8px
  color: #484a4d

.section__europe-call-num
  display: block
  font-size: 42px
  line-height: 48px
  margin-bottom: 8px
  color: #fc5245
  font-weight: 700
  text-align: center
  +respond-to(767px)
    font-size: 40px

.section__europe-call-mail
  font-size: 16px
  line-height: 24px
  color: #787b80
  font-weight: 400
  a
    color: #29a5d0
    border-bottom: 1px solid #c7e6f0
    &:hover
      border-bottom: none

.section__text-after
  width: 716px
  font-size: 10px
  line-height: 16px
  color: #9198ad
  font-weight: 400
  margin-left: 40px
  box-sizing: border-box
  +respond-from(1920px)
    width: 1100px

  +respond-to(1439px)
    width: 536px

  +respond-to(1023px)
    width: calc(100% - 29px)
    margin-left: 29px

  +respond-to(767px)
    width: 100%
    margin-left: 0
    padding: 0 16px

.text-black--lower
  text-transform: lowercase
