@media (max-width: 1439px)
  .page-header
    padding: 0 40px 0 40px

  .page-header__logo
    margin-right: 32px

  .page-header__top
    margin-bottom: 48px

  .main-nav__item
    margin-right: 16px

  .wrapper
    padding: 48px 24px 0 24px

  .section__title
    padding-left: 34px

  .section__sub-title
    margin-bottom: 32px
    padding-left: 34px

  .primary-text
    padding-left: 34px

  .primary-text--top-offers
    width: 506px

  .section__top-offers-list
    padding-left: 16px

  .section__btn-container--top-offers
    padding-left: 16px

  .section__compare-table-container
    margin-left: 34px

  .section--clients
    padding: 72px 40px 72px 488px

  .section__title--clients
    width: 464px

  .section__comments-img
    left: -457px
    bottom: -63px

  .section__stats-img-support
    width: 245px
    height: 330px

  .page-footer
    padding: 96px 40px 32px 40px

  .page-footer__links
    flex-wrap: wrap

  .page-footer__call
    margin-right: 282px

  .page-footer__cards
    order: 5
    margin-top: 14px

@media (max-width: 1023px)
  .page-header__top
    flex-direction: column

  .page-header__toggle-btn
    display: block
    position: absolute
    left: 16px
    top: 21px

  .main-nav__list
    flex-direction: column

  .main-nav__link
    padding-left: 32px

  .main-nav__link--active
    &:before
      left: 18px

    &:after
      width: 15px
      height: 1px
      left: 0
      top: 38px


  .main-nav--closed
    .main-nav__list
      display: none

  .page-header__logo
    padding-top: 10px
    margin-right: auto
    margin-left: 40px

  .main-nav--opened
    .page-header__toggle-btn
      display: none

    .page-header__close-btn
      display: block
      position: absolute
      left: 16px
      top: 21px


  .section__title
    font-size: 24px
    line-height: 32px


