body
  font-family: 'Montserrat', sans-serif
  font-smoothing: antialiased
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.page-header
  min-height: 376px
  background: #1F2633
  color: $color_white
  padding: 0 152px 0 152px
  background: url('images/header-bg.png') center no-repeat
  background-size: cover

  &--home
    min-height: 528px

.page-header__logo
  padding-top: 16px
  margin-right: 100px
  img
    width: 144px
    height: 16px

.main-nav__item
  margin-right: 24px
  padding-top: 24px
  &:last-child
    margin-right: 0

.main-nav__link
  position: relative
  font-size: 16px
  line-height: 16px
  font-weight: 400
  color: #9198ad
  padding-top: 29px
  transition: .25s ease

.main-nav__link--active
  color: #ffffff
  font-weight: 500
  &:before
    content: ''
    height: 7px
    width: 7px
    position: absolute
    left: -15px
    top: 35px
    background: url('images/oval-white.svg')

  &:after
    content: ''
    height: 30px
    width: 1px
    position: absolute
    left: -12px
    top: 0
    background: #ffffff

.page-header__top
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  margin-bottom: 88px

.page-header__callback
  display: flex
  flex-direction: row
  align-items: flex-end
  padding-top: 16px

.page-header__callback-num
  margin-right: 16px

.page-header__callback-upper
  display: block
  font-size: 10px
  line-height: 16px
  font-weight: 700
  color: #50cfe3

.page-header__callback-lower
  display: block
  font-size: 16px
  line-height: 16px
  font-weight: 700
  color: #ffffff

.page-header__callback-button
  font-size: 10px
  line-height: 16px
  font-weight: 700
  text-transform: uppercase
  padding: 8px 22px
  border: 2px solid #00d3e3
  border-radius: 30px

.main-nav__list
  display: flex
  flex-direction: row
  justify-content: space-between

.main-title
  font-size: 60px
  line-height: 72px
  font-weight: 900
  text-align: center
  margin-bottom: 16px

.page-header__text
  font-size: 24px
  line-height: 32px
  color: #e0fcff
  text-align: center

.section--top-offers
  position: relative
  margin-bottom: 96px

.section__title
  position: relative
  font-size: 52px
  line-height: 64px
  color: #484A4D
  font-weight: 900
  padding-left: 40px
  padding-bottom: 24px
  &:before
    content: ''
    width: 13px
    height: 16px
    position: absolute
    left: 3px
    top: 20px
    background: url('images/pointer.svg') center no-repeat

  &:after
    content: ''
    width: 1px
    height: 111px
    position: absolute
    left: 9px
    bottom: 0
    background: #fc5245

.wrapper
  padding: 48px 152px 0 112px

.primary-text
  font-size: 18px
  line-height: 32px
  color: #787B80
  padding-left: 40px
  padding-bottom: 24px
  font-weight: 400
  position: relative
  &:before
    content: ''
    width: 1px
    height: 100%
    position: absolute
    left: 9px
    top: 0
    background: #fc5245
    font-weight: 700
  
.primary-text--limited
  max-width: 714px

.section__sub-title
  position: relative
  font-size: 20px
  line-height: 24px
  color: #fc5245
  text-transform: uppercase
  font-weight: 700
  padding-left: 40px
  margin-bottom: 48px
  &:before
    content: ''
    width: 7px
    height: 7px
    position: absolute
    left: 6px
    top: 8px
    background: url('images/oval-red.svg') center no-repeat

  &:after
    content: ''
    width: 1px
    height: 4px
    position: absolute
    left: 9px
    top: 0
    background: #fc5245

.section__sub-title--top-offers
  max-height: 24px

.section__top-offers-list
  display: flex
  flex-direction: row
  margin-bottom: 16px
  padding-left: 40px

.section__top-offers-item
  width: 25%

.top-offers-link__upper
  width: 100%
  height: 384px
  display: flex
  flex-direction: column
  align-items: center
  padding-top: 32px
  margin-bottom: 16px

.top-offers-link__upper--sydney
  background: url('images/sydney.png')
  background-size: cover

.top-offers-link__upper--bangkok
  background: url('images/bangkok.png')
  background-size: cover

.top-offers-link__upper--venice
  background: url('images/venice.png')
  background-size: cover

.top-offers-link__upper--telaviv
  background: url('images/telaviv.png')
  background-size: cover

.top-offers-link__price
  font-size: 24px
  line-height: 32px
  color: #ffffff
  font-weight: 900
  margin-bottom: 8px

.top-offers-link__city
  font-size: 12px
  line-height: 16px
  color: rgba(255,255,255,0.7)
  font-weight: 500
  text-transform: uppercase

.top-offers-link__button
  font-size: 12px
  line-height: 16px
  color: #29a5d0
  font-weight: 600
  text-transform: uppercase
  display: flex
  flex-direction: row
  justify-content: center
  &:after
    content: ''
    display: inline-block
    position: relative
    top: 4px
    width: 11px
    height: 7px
    margin-left: 8px
    background: url('images/arrow-right.svg')

.section-top-offers__call
  position: absolute
  top: -80px
  right: 0
  padding: 32px
  background: #ffffff
  box-shadow: 0 10px 24px 0 rgba(15,71,77,0.16)
  border-radius: 6px
  z-index: 5

  &--home
    top: -100px

.section-top-offers__button
  font-size: 12px
  line-height: 16px
  color: #29a5d0
  font-weight: 600

.section__btn-container
  position: relative
  display: flex
  flex-direction: row
  justify-content: center
  &:before
    content: ''
    width: 7px
    height: 7px
    position: absolute
    top: 64px
    background: url('images/oval-red.svg') center no-repeat

  &:after
    content: ''
    width: 1px
    height: 58px
    position: absolute
    top: 0
    background: #fc5245

.section__btn-container--top-offers
  padding-left: 40px
  padding-top: 48px

.section-top-offers__call-text
  font-size: 16px
  line-height: 24px
  color: #484a4d
  font-weight: 400
  text-align: center

.section-top-offers__call-num
  font-size: 42px
  line-height: 48px
  color: #fc5245
  font-weight: 700
  margin-top: 30px
  margin-bottom: 16px

.section-top-offers__call-button
  display: block
  font-size: 12px
  line-height: 16px
  color: #29a5d0
  font-weight: 600
  text-transform: uppercase
  text-align: center
  border: 2px solid #00a9d0
  border-radius: 30px
  padding: 16px 44px
  margin-top: 16px

.section__btn-see
  position: relative
  font-size: 12px
  line-height: 16px
  font-weight: 600
  color: #ffffff
  background: #ff3e44
  border-radius: 30px
  text-transform: uppercase
  padding: 12px 33px
  margin-right: 49px

.section__btn-quote
  font-size: 12px
  line-height: 16px
  font-weight: 600
  color: #29a5d0
  border: 2px solid #00a9d0
  text-transform: uppercase
  padding: 10px 47px
  border-radius: 30px

.section--compare
  margin-bottom: 96px

.section__title--compare
  &:before
    width: 16px
    height: 15px
    background: url('images/pointer-up.svg') center no-repeat

  &:after
    height: 50px

.section__btn-container--compare
  padding-left: 40px
  &:before,
  &:after
    display: none

.section__compare-table-container
  position: relative
  border: 1px solid #d1e6f1
  border-radius: 5px
  margin-left: 40px
  margin-bottom: 42px

.section__compare-table
  width: 100%
  border-collapse: collapse

  th
    padding: 16px 25px
    background: #f4fafc
    text-align: center
    font-size: 14px
    line-height: 24px
    font-weight: 600
    color: #797f92
    border-left: 1px solid #c8e0ed

  th:first-child
    text-transform: uppercase
    text-align: left
    color: #484a4d
    border-left: none

  th:nth-child(2)
    overflow: visible

  td
    padding: 16px 25px
    border-top: 1px solid #c8e0ed
    border-right: 1px solid #c8e0ed
    text-align: center
    font-size: 14px
    line-height: 24px
    font-weight: 500
    color: #787b80

  td:first-child
    width: 326px
    text-align: left

  td:nth-child(2)
    width: 218px
    position: relative

  .table-logo-img
    position: absolute
    bottom: -33px
    left: -25px
    width: 318px
    height: 469px

.section--clients
  position: relative
  padding: 78px 149px 82px 642px
  background: url('images/clients-bg.png') center no-repeat
  background-size: cover
  margin-bottom: 36px

  height: 440px
  box-sizing: border-box

.section__title--clients
  width: 650px
  color: #ffffff
  &:before
    width: 16px
    height: 16px
    left: 2px
    top: 15px
    background: url('images/heart.svg') center no-repeat

  &:after
    height: 117px
    background: white

.section__comments
  position: relative

.section__slide-item--first
  position: relative
  opacity: 0
  transition: .5s ease-in
  &:hover
    opacity: 1

.section__slide-item--second
  position: absolute
  top: 0

.section__slide-item--third
  position: absolute
  display: none
  top: 0

.section__comments-img
  content: ''
  position: absolute
  left: -515px
  bottom: -98px
  width: 440px
  height: 599px
  background: url('images/man.png') center no-repeat
  background-size: cover

.section__sub-title--clients
  margin-bottom: 0
  font-size: 16px
  color: #ffffff
  &:before
    width: 16px
    height: 16px
    left: 2px
    top: 3px
    background: url('images/quote.svg') center no-repeat

  &:after
    display: none

.slider-controls
  font-size: 0
  margin-left: 40px
  line-height: 16px

.section__comments-text
  font-size: 18px
  line-height: 24px
  color: #ffffff
  font-style: italic
  margin: 16px 0 24px 40px

.slider__arrow-left
  display: inline-block
  font-size: inherit
  opacity: 0.7
  margin-right: 16px
  cursor: pointer

.slider__arrow-right
  display: inline-block
  margin-left: 16px
  cursor: pointer

.slider__circle
  display: inline-block
  position: relative
  top: 3px
  width: 8px
  height: 8px
  background: url('images/oval-white.svg') center no-repeat
  margin-right: 8px
  opacity: 0.7
  cursor: pointer

.slider__circle--3
  margin-right: 0

.section--stats
  margin-bottom: 96px

.section__title--stats
  width: 515px

.section__stats-list
  display: flex
  flex-direction: row
  justify-content: space-between
  padding-left: 40px
  position: relative

.section__stats-item
  width: 32%
  padding: 32px 0
  box-shadow: 0 10px 24px 0 rgba(15,71,77,0.16)
  border-radius: 6px
  margin-right: 34px
  &:last-child
    position: relative
    margin-right: 0
    z-index: 3

.section__stats-img-support
  position: absolute
  bottom: 168px
  right: 50px
  width: 300px
  height: 404px

.section__stats-item-top
  font-size: 72px
  line-height: 72px
  font-weight: 900
  color: #29a5d0
  text-align: center
  margin-bottom: 16px

.section__stats-item-text
  font-size: 12px
  line-height: 16px
  color: #547c7d
  font-weight: 500
  text-align: center
  text-transform: uppercase

.page-footer
  padding: 96px 152px 36px 152px
  background: url('images/footer-bg.png') center no-repeat
  background-size: cover

.page-footer__title
  font-size: 44px
  line-height: 48px
  font-weight: 900
  color: #ffffff
  margin-bottom: 32px
  text-align: center

.section__btn-container--footer
  margin-bottom: 96px
  &:before
    display: none

  &:after
    display: none

  .section__btn-see
    margin-right: 24px

.page-footer__links
  display: flex
  flex-direction: row
  justify-content: space-between
  padding-bottom: 22px
  border-bottom: 1px solid rgba(255,255,255, 0.2)
  margin-bottom: 22px

.page-footer__nav
  margin-right: 45px

.page-footer__nav-list
  display: flex
  flex-direction: row

.page-footer__nav-item
  margin-right: 10px
  &:last-child
    margin-right: 0

.page-footer__nav-link
  font-size: 12px
  line-height: 16px
  color: #9494a4
  text-transform: uppercase
  font-weight: 300

.page-footer__call
  margin-right: 70px

.page-footer__call-link
  font-size: 12px
  line-height: 16px
  color: #50cfe3
  font-weight: 700

.page-footer__cards
  display: flex
  flex-direction: row
  align-items: center
  img
    margin-right: 10px

.page-footer__cards-text
  font-size: 12px
  line-height: 16px
  margin-right: 10px
  font-weight: 700
  color: #8f9097
  text-transform: uppercase

.socials
  display: flex
  flex-direction: row

.socials__item
  width: 16px
  height: 16px
  background-size: cover
  margin-right: 12px
  &:last-child
    margin-right: 0

.socials-item--fb
  background: url('images/facebook.svg') center no-repeat

.socials-item--tw
  background: url('images/twitter.svg') center no-repeat

.socials-item--go
  background: url('images/google.svg') center no-repeat

.page-footer__text
  font-size: 10px
  line-height: 16px
  font-weight: 400px
  color: #9198ad

.page-footer__text--info
  margin-bottom: 32px

.page-footer__text--copyright
  text-align: center

.page-footer__text--services
  text-align: center

.reg
  font-size: 11px
  color: #95A69D
  letter-spacing: 0
  line-height: 10px
  position: relative
  top: 4px
